{% extends "themes/base_visitor.html.twig" %}

{% block stylesheet %}/css/app.css{% endblock %}

{% block title %}Page de blog{% endblock %}

{% block description %}Lisez des articles intéressants{% endblock %}

{% block keywords %}Blog, Médecine, Santé, Jean Dupont, Articles{% endblock %}

{% block main %}
    <main>
        <h1 class="text-center my-3 display-5"> Page de blog </h1>
    </main>
{% endblock %}